* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url("M.png") center/cover fixed;
  height: auto;
  width: auto;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.178);
  border-radius: 30px;
  color: #fff;
  z-index: 1000;
}

.navbar span {
  color: #ff6a00;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a  {
  color: #ff6a00;
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.navbar ul a:hover {
     font-size: 50px;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(#000000 10%,#ff6a00e7,rgba(255, 255, 255, 0.877));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.hero span {
  color: #ff6a00;
}

.hero button {
  width: 180px;
  padding: 15px;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.884);
  border: 2px solid transparent;
  color: #ff6a00;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
}
.hero button:hover {
  color: white;
  border: 5px white;
  transform: translateY(5px) scale(1.04);
  box-shadow: 0 30px 60px rgba(0,0,0,.15);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.3);

}
/* FEATURES */
.features {
  padding: 100px;
  background-color: rgba(255, 255, 255, 0.877);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}

.card {
  padding: 40px;
  background: #ff6a00b2;
  border-radius: 20px;
  transition: .4s;
}

.card:hover {
  transform: translateY(-15px) scale(1.04);
  box-shadow: 0 30px 60px rgba(0,0,0,.15);
}

/* PARALLAX */
.parallax {
  height: 100vh;
 background: linear-gradient(rgba(255, 255, 255, 0.877),#ff6a00e7,rgba(255, 255, 255, 0.877));
  display: flex;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: 40px;
}

/* ABOUT */
.about {
  background: linear-gradient(rgba(255, 255, 255, 0.877),#000000);
  
  justify-content: center;
  padding: 100px;
  text-align: center;
}
.Ab {
     color: #fff;
     font-size: 30px;
}
.Pb {
  font-size: 30px;
  color: #ff6a00b2;
  
  letter-spacing: 3px;
}

/* FOOTER */
footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 30px;
}
@media (max-width: 768px) {
    .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.178);
  border-radius: 30px;
  color: #fff;
  z-index: 1000;
}

.navbar span {
  color: #ff6a00;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a  {
  color: #ff6a00;
  font-size: 20px;
  text-decoration: none;
}
/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(#000000 10%,#ff6a00e7,rgba(255, 255, 255, 0.877));
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.hero span {
  color: #ff6a00;
}

.hero button {
  width: 180px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.884);
  border: 2px solid transparent;
  color: #ff6a00;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url("M.png") center/cover fixed;
  height: 100hv;
  width:auto;
}
.card {
  padding: 40px;
  background: #ff6a00b2;
  border-radius: 20px;
  text-align: center;
  transition: .4s;
}

.card:hover {
  transform: translateY(-15px) scale(1.04);
  box-shadow: 0 30px 60px rgba(0,0,0,.15);
}
.features {
  text-align: center;
  align-items: center;
  justify-content: center;
}
}
@media (max-width: 480px) {
  .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.178);
  border-radius: 30px;
  color: #fff;
  z-index: 1000;
}

.navbar span {
  color: #ff6a00;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a  {
  color: #ff6a00;
  font-size: 30px;
  text-decoration: none;
}
/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(#000000 10%,#ff6a00e7,rgba(255, 255, 255, 0.877));
  color: white;
  display: flex;
  text-align: center;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.hero span {
  color: #ff6a00;
}

.hero button {
  width: 180px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.884);
  border: 2px solid transparent;
  color: #ff6a00;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 8px;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: url("M.png") center/cover fixed;
  height: 100hv;
  width:auto;
}
.card {
  padding: 40px;
  background: #ff6a00b2;
  border-radius: 20px;
  text-align: center;
  color: white;
  transition: .4s;
}

.card:hover {
  transform: translateY(-15px) scale(1.04);
  box-shadow: 0 30px 60px rgba(0,0,0,.15);
}
.features {
  text-align: center;
  align-items: center;
  justify-content: center;
}
/* ABOUT */
.about {
  background: linear-gradient(rgba(255, 255, 255, 0.877),#000000);
  
  justify-content: center;
  padding: 100px;
  text-align: center;
}
.Ab {
     color: #fff;
     font-size: 35px;
}
.Pb {
  font-size: 20px;
  color: #ff6a00b2;
  letter-spacing: 1px;
}
}